<section id="translate-request">
  <article class="languages">
    <div class="languages-left">
      <button>Detect Language</button>
      <button
        [ngClass]="requestLangSelected == ENGLISH_LANG ? 'active-lang-button' : ''"
        (click)="selectReqLang(ENGLISH_LANG)"
      >
        {{ENGLISH_LANG.name}}
      </button>
      <button
        [ngClass]="requestLangSelected == SPANISH_LANG ? 'active-lang-button' : ''"
        (click)="selectReqLang(SPANISH_LANG)"
      >
        {{SPANISH_LANG.name}}
      </button>
      <div class="selectable-lang-div">
        <button
          class="selectable-lang"
          [ngClass]="requestLangSelected == dropdownLangSelected ? 'active-lang-button' : ''"
          (click)="selectReqLang(dropdownLangSelected)"
        >
          {{dropdownLangSelected.name}}
          <img
            (click)="openDropdown()"
            src="assets/img/Expand_down.svg"
          />
        </button>
        @if (!hideDropdown) {
          <component-lang-dropdown
            [dropdownLangSelected]="dropdownLangSelected"
            (selectDropdownLangEvent)="selectDropdownLang($event)"
          />
          }
      </div>
    </div>
  </article>
  <article class="msg-input">
    <textarea
      [(ngModel)]="message"
      (keyup)="translate()"
      name="msg-request"
      id="msg-request"
      maxlength="500"
      spellcheck="false"
    ></textarea>
    <p class="counter">{{ message.length }}/500</p>
  </article>
  <article class="buttons">
    <div class="buttons-left">
      <button>
        <img src="assets/img/sound_max_fill.svg" alt="Listen text" />
      </button>
      <button (click)="copytext()">
        <img src="assets/img/Copy.svg" alt="Copy text" />
      </button>
    </div>
    <button class="translate-button" (click)="translate()">
      <img src="assets/img/Sort_alfa.svg" alt="Translate text" />
      Translate
    </button>
  </article>
</section>
