.copy-modal {
  border-radius: 12px;
  padding: 18px;

  background-color: #212936cc;
  color: #fff;

  position: absolute;
  bottom: 300px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}
