<section id="translate-response">
  <article class="languages">
    <div class="languages-left">
      <button
        [ngClass]="responseLangSelected == ENGLISH_LANG ? 'active-lang-button' : ''"
        (click)="selectResLang(ENGLISH_LANG)"
      >
        {{ENGLISH_LANG.name}}
      </button>
      <button
        [ngClass]="responseLangSelected == SPANISH_LANG ? 'active-lang-button' : ''"
        (click)="selectResLang(SPANISH_LANG)"
      >
        {{SPANISH_LANG.name}}
      </button>
      <div class="selectable-lang-div">
        <button
          class="selectable-lang"
          [ngClass]="responseLangSelected == dropdownLangSelected ? 'active-lang-button' : ''"
          (click)="selectResLang(dropdownLangSelected)"
        >
          {{ dropdownLangSelected.name }}
          <img
            (click)="openDropdown()"
            src="assets/img/Expand_down.svg"
          />
        </button>
        @if (!hideDropdown) {
        <component-lang-dropdown
          [dropdownLangSelected]="dropdownLangSelected"
          (selectDropdownLangEvent)="selectDropdownLang($event)"
        />
        }
      </div>
    </div>
    <div class="languages-rigth">
      <button class="swap-button" (click)="swapLang()">
        <img src="assets/img/Horizontal_top_left_main.svg" alt="" />
      </button>
    </div>
  </article>
  <textarea disabled name="msg-response" id="msg-response" spellcheck="false">{{
    translatedMessage
  }}</textarea>
  <article class="buttons">
    <div class="buttons-left">
      <button>
        <img src="assets/img/sound_max_fill.svg" alt="Listen text" />
      </button>
      <button (click)="copytext()">
        <img src="assets/img/Copy.svg" alt="Copy text" />
      </button>
    </div>
  </article>
</section>
